# Project exclude paths
/out/
# Project exclude paths
/target/

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!src/main/main/**/build/
!src/main/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!src/main/main/**/bin/
!src/main/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!src/main/main/**/out/
!src/main/test/**/out/